# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/static/
/public/
/luggages/
/pic/
/assets.old/
/archived/
/.packages/
/sigal.conf.py
/build.sh
/publish.sh
/.DS_Store
