h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-weight: 100;
}

a:link,
a:visited {
  color: blue;
}

.smth p::before {
  content: "(";
}

.smth p::after {
  content: ")";
}

.tag a {
  color: blue;
  text-transform: lowercase;

  /* font-style: ital; */
}

.tag a:after {
  color: #ff0101;
  content: " ]";
}

.tag a:before {
  color: #ff0101;
  content: "[ ";
}

a {
  text-decoration: none;
  /* border-bottom: 1px dotted #000; */
}

body {
  font-family: "Arimo", "Amiri", Sans;
}

p {
  unicode-bidi: plaintext;
  /* line-height: 1.2; */
}

.footpara {
  display: inline;
}

dl,
ol,
ul {
  /* font-size: 1.2rem !important; */
  /* line-height: 1.7rem !important; */
  text-align: start !important;
}

@media screen and (min-width: 1500px) {
  .footnotes {
    display: none;
  }
  .footdef {
    display: none;
  }
}

#text-table-of-contents a {
  color: white;
  text-decoration: underline dotted;
}

.smth {
  margin-left: 3px;
}
.smth p {
  font-size: 13px;
  text-align: left;
}

@media screen and (max-width: 1089px) {
  .smth {
  }
  html {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1090px) {
  html {
    font-size: 14px !important;
  }
}

pre.src {
  position: relative;
  word-wrap: normal;
  overflow-x: auto;
  white-space: pre;
}

@media screen and (min-width: 760px) {
  p {
    unicode-bidi: plaintext;
  }
  figcaption {
    margin-top: 5%;
    margin-left: 10%;
    /* width: 40%; */
  }
  .figure-number {
    display: none;
  }
}

/* To get the pandoc-generated bibliography to match style, define csl classes. */
div.csl-entry {
  clear: both;
  margin-top: 0.5rem;
}
.hanging div.csl-entry {
  margin-left: 2rem;
  text-indent: -2rem;
}
div.csl-left-margin {
  min-width: 2rem;
  float: left;
}
div.csl-right-inline {
  margin-left: 2rem;
  padding-left: 1rem;
}
div.csl-indent {
  margin-left: 2rem;
}
div.hanging-indent {
  margin-left: 1.5rem;
  text-indent: -1.5rem;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
.header img {
  /* max-width: 100px; */
}

.header a:link {
  text-decoration: none !important;
}

.header a {
  border-bottom: none;
}

.header a:visited {
  text-decoration: none !important;
}

.header a:hover {
  text-decoration: none !important;
}

.header a:active {
  text-decoration: none !important;
}

table {
  border-collapse: collapse;
  border-spacing: 20px;
  padding: 5px;
}
table td,
table th {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: normal;
  text-align: -internal-center;
}

table tr:first-child th {
  border-top: 0;
  padding: 5px;
}
table tr:last-child td {
  border-bottom: 0;
  padding: 5px;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
  padding: 5px;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
  padding: 5px;
}

/* Style for the timestamp container */
.timestamp-wrapper {
  color: #004aa2;
}

.timestamp {
}

h2 .timestamp-wrapper {
  font-size: 17px;
}

.timestamp-kwd {
  display: none;
}

.notes p {
  margin-block-start: 0.4em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Common styles for both classes */
span.done,
span.todo {
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 10px;
}

/* Specific style for the "DONE" class */
span.DONE,
span.TODO,
SPAN.KILL {
  opacity: 60%;
  font-size: 12px;
  color: white;
}

span.DONE {
  background-color: #2e3436;
}

span.KILL {
  background-color: #aaa;
}

span.TODO {
  opacity: 78%;
  background-color: red;
}

.UNEXPORTEDTAG {
  display: none;
}

.PREVIEW {
  font-style: italic;
  color: gray;
}

.tag {
  border-bottom: 1px dashed #0074ff;
  background: rgb(190 215 255 / 10%);
  padding-top: 0.2px;
  padding-left: 9px;
  font-size: 0.9em;
  color: #333;
}

span.tag {
  background-color: inherit !important;
  font-size: small;
  color: darkgray;
  font-style: normal !important;
  font-weight: bold;
}

span.tag::after {
  content: " ]";
  font-size: smaller;
  color: black;
}

span.tag::before {
  content: "[ ";
  color: black;
  font-size: smaller;
}

.propert {
  background-color: rgba(255, 228, 196, 0.12);
  border-bottom: 1px dashed #ff7a00;
  padding-top: 0.2px;
  padding-left: 9px;
  font-size: 0.9em;
  color: #333;
}

.propert a {
  color: blue;
  /* font-weight: bold; */
}

.postscript {
  background-color: rgba(255, 240, 245, 0.13);
  border-bottom: 1px dashed #d4006e;
  padding-top: 0.2px;
  padding-left: 9px;
  font-size: 0.9em;
  color: #333;
}

.postscript a {
  color: blue;
  /* text-transform: lowercase; */
  /* font-weight: bold; */
}

.inlinetask {
  display: none;
}

/* #content > p:first-of-type::first-letter { */
/*   color: white; */
/*   background-color: black; */
/*   border-radius: 2px; */
/*   /\* box-shadow: 3px 3px 0 red; *\/ */
/*   font-size: 250%; */
/*   padding: 6px 3px; */
/*   margin-right: 6px; */
/*   float: left; */
/* } */

:target {
  background-color: #ffa;
}
a:target + .target-text {
  background-color: #ffa;
}
li:has(> a:target) {
  background-color: #ffa;
}

.notes {
  margin-top: -15px;
}

.recents-2 {
  display: none;
}

@media screen and (max-width: 1999px) {
  .recents-2 {
    display: none;
  }
  .footrecents-2 {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  .recents-2 {
    display: block !important;
    float: right;
    clear: right;
    margin-right: -50%;
    width: 44%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    padding-bottom: 10px;
    word-spacing: -2px;
  }
  .footrecents-2 {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  .recents-2 {
    display: block !important;
    float: right;
    clear: right;
    margin-right: -80%;
    width: 75%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    padding-bottom: 10px;
    word-spacing: -2px;
  }
  .footrecents-2 {
    display: none;
  }
}

.resright,
.profile {
  display: block;
  float: left;
  clear: both;
  padding: 10px;
  max-width: 300px;
}
/* body { */
/*   font-family: Pragmatapro; */
/* } */
/* h1, */
/* h2, */
/* h3, */
/* h4, */
/* h5, */
/* h6 { */
/*   font-family: Hack; */
/*   font-weight: bolder !important; */
/* } */

/* ul { */
/*   list-style: none; */
/*   margin-left: 0; */
/*   padding-left: 0; */
/* } */

/* li { */
/*   padding-left: 1em; */
/*   text-indent: -1em; */
/* } */

/* li:before { */
/*   content: "- "; */
/*   padding-right: 7px; */
/* } */

h1 {
  font-size: x-large;
  font-weight: 100 !important;
  padding-top: 5px;
}

a {
  word-break: break-all;
}

a[href^="/"]:not([href*="://"]),
a[href^="#"],
a[href^="mailto:"],
a[href^="tel:"],
a.title,
a.header,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  word-break: normal;
}
